# Garmin Connect IQ Build Artifacts
bin/
gen/
mir/
external-mir/
internal-mir/

# Compiled App Files
*.prg
*.iq

# Private Developer Key (CRITICAL: Do not commit your developer key!)
developer_key
developer_key.pem
developer_key.der
skills/

# Local IDE and OS Settings
.vscode/
.DS_Store
*.swp
*~

# Local Settings and Data
*-settings.json
*.log

# Private Files
TODO
tide_watch.prg.debug.xml

# Ignore the secret resource file
resources/strings/secrets.xml
